[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
textblob = "*"
tweepy = "*"
twint = {editable = true,git = "https://github.com/twintproject/twint.git"}

[requires]
python_version = "3.6"
